

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General*/

    /* Polices */
   

.golos-text {
  font-family: "Golos Text", sans-serif;
}

 /* span yellow */

 .yellow {
    color: yellow;
 }

/* body */

body {overflow-x: hidden;
background-color: #eee;}



.dancing-script {
  font-family: "Dancing Script", cursive;
 
}

.invisible {
    opacity: 0;

}

.visible{
    opacity: 1;
}

/* Header */

header{
   
    min-height: 100px;
}


/* Value P */

.valueP{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.valueP h1{
    font-size: 4rem;
    text-align: center;
    transition: 2s;
}

.valueP p{
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 3rem;
    margin-left: 3rem;
    text-align: center;
    transition: 2s;
}

/*first div */
.first{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
   
}

.first p {
    font-size: 1.2rem;
    line-height:3rem
}

.first p a{
    color: red;
    text-decoration: none;
}

/*separator */

.separator{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #333;
    min-height: 600px;
    display: flex wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}

.container-separator{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;

}

.container-separator-text {
    display: flex;
    align-items: center;
}
.container-separator-text p {
    color: #eee;
    font-size: 2rem;
    padding-bottom: 5rem;
}




/* Focus */

.focus-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;

}

.focus-container h2 {
    font-size: 4rem;
}


/*footer*/


/* Mediaqueries */

@media screen and (max-width : 700px) {
    .valueP p {
        margin-left: 0;
    }

    .separator{
        background-size: cover;
        
    }
    .container-separator{
        flex-direction: column;
        overflow-x: hidden;
    }

    .container-separator-logo{
        margin-top: 1rem;
        width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       box-sizing: border-box;
       overflow: hidden;


    }

    .container-separator-logo img{
       width: 100%;

    }

    .container-separator-text p {
        text-align: center;
        color: #eee;
        font-size: 1.5rem;
        padding-top: 2rem;
    }
    


    
}
